{% extends 'hr_profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/dashboard.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Employee Management System {% endblock %}</title>

{% block style %}

<style>

.attendance{
    border: 1px solid red;
    display: flex;
}
.attendance-graph{
    border: 1px solid blue;
}

</style>

{% endblock %}

{% block profile %}

<section class="hr-analytics">


    <div class="attendance">
        <div class="attendance-graph">
            <canvas id="myChart" style="width:100%;max-width:700px;height:18rem;"></canvas>
        </div>
        <div class="attendance-info">
            <h2>Total - 50</h2>
            <h2>Present - 40</h2>
            <h2>Absent - 5</h2>
            <h2>Leave - 5</h2>
        </div>
        
    </div>
    
</section>



{% endblock %}


{% block js %}
<script>
    document.getElementById('hr-analytics').classList.add('link1');
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


<script>
    var xValues = ["Present", "Leave", "Absent"];
    var yValues = {{data}};
    var barColors = [
        "#00aba9",
        "#f89b9b",
        "#ddd"
    ];

    new Chart("myChart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            responsive: true,
            title: {
                display: false,
            },
            legend: {
                display: false,
            },
            
        }
    });
</script>
{% endblock %}