{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/form.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Leave History {% endblock %}</title>


{% block style %}

<style>
    .profile-navigations .profile-navigation-links .link1 {
        color: #fff;
        background-color: #387EF9;
        transition: all 0.5s ease-out;
    }

    .profile-navigations .profile-navigation-links .link1 svg {
        fill: #fff;
        transition: all 0.5s ease-out;
    }
    .table .next-btn2 {
        margin: 0;
        padding: 0.2em 1em;
        font-size: 1em;
        font-weight: 500;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }
</style>


{% endblock %}

{% block profile %}



    <p class="main-heading">Leave Application Data</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">Date of Apply</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">No of Days</th>
                <th scope="col">Leave Type</th>
            </tr>
        </thead>


        <tbody>
            {% for leaves in leave_history %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{leaves.date_of_apply}}</td>
                <td>{{leaves.start_date}}</td>
                <td>{{leaves.end_date}}</td>
                <td>{{leaves.no_of_days}}</td>
                <td>{{leaves.type}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}




{% block js %}

<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/printThis/1.15.0/printThis.js"></script>


<script>
    document.getElementById('self-salary').classList.add('link1');
</script>




{% endblock %}