{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/forms.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Attendance History {% endblock %}</title>

{% block style %}

<style>
    .user-info {
        padding: 2rem;
        overflow: auto;
    }

    .user_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .basic_info {
        width: 100%;
    }

    .main-heading {
        margin: 0;
        padding: 2.5rem 1rem;
    }

    .user_info .info {
        max-width: 40%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
    }

    .user_info .info .info-description {
        margin-right: 1rem;

    }

    .user_info .info p {
        margin: 0;
    }

    .info-full {
        max-width: 100%;
        padding: 0 1rem;

    }

    .details {
        padding: 0;
        margin-top: 0;
    }

    .info_card {
        border: 1px solid #387EF9;
        padding: 1em;
        padding-bottom: 0;
        width: 100%;

    }

    .table thead tr {
        color: #387EF9;
        font-weight: 600;
        border: none;
    }

    .table thead tr th {
        border: none;
    }

    .table .next-btn2 {
        margin: 0;
        padding: 0.2em 1em;
        font-size: 1em;
        font-weight: 500;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }

    .table .next-btn2:hover {
        background: #fff;
        color: #387EF9;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }

    .table thead tr:hover {
        color: #fff;
        background-color: #387EF9;
        transition: 0.3s linear;

    }
</style>

{% endblock %}

{% block profile %}


<section class="user-info">
    <div class="basic_info">

        <div class="head-card">
            <h4>Missing Attendance</h4>
            <a href="{% url 'self_attendance' %}">
                Back
                <span class="material-symbols-outlined mx-2">
                    undo
                </span>
            </a>
        </div>



        <table class="table my-lg-5">
            <thead>
                <tr>
                    <th scope="col">Sr. No.</th>
                    <th scope="col">Date of Apply</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Approved By</th>

                </tr>
            </thead>
            <tbody>
                {% for missing_attendance in missing_attendance_history %}

                <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{missing_attendance.date}}</td>
                    <td>{{missing_attendance.description | truncatechars:30}}</td>




                    <td>
                        {% if missing_attendance.is_requested %}

                        <span class="material-symbols-outlined" style="font-size:1.8rem;font-weight:700;color:#FFB302">
                            hourglass_top
                        </span>

                        {% endif %}


                        {% if missing_attendance.is_requested == False  and missing_attendance.is_approved %}

                        <span class="material-symbols-outlined mx-2"
                            style="font-size:1.8rem;font-weight:700;color:rgb(12, 186, 12);">
                            task_alt
                        </span>

                        {% endif %}


                    </td>
                    <td>{% if missing_attendance.approved_by is not none %}
                        {{missing_attendance.approved_by.get_full_name| truncatechars:10}}
                        {% else %}
                        <span class="material-symbols-outlined text-center" style="font-size:1.8rem;font-weight:700;color:#444">
                            remove
                            </span>
                        {% endif %}
                    </td>


                </tr>
                {% endfor %}

            </tbody>
        </table>


    </div>
</section>


{% endblock %}


{% block js %}
<script>
    document.getElementById('self-attendance').classList.add('link1');
</script>
{% endblock %}