{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %} 
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Self Details {% endblock %}</title>

{% block style %}

<style>

    

    .profile-navigations .profile-navigation-links .link1{
        color: #fff;
        background-color: #387EF9;
        transition: all 0.5s ease-out;
    }

    .profile-navigations  .profile-navigation-links .link1  svg{
        fill: #fff;
        transition: all 0.5s ease-out;
    }
</style>

{% endblock %}

{% block profile %}


<section class="user-info">
    <div class="details">

        <h1 class="main-heading">Personal Details</h1>

        <div class="info">
            <p class="info-title">Department</p>
            <p class="info-description">{{basic_detail.department}}</p>
        </div>
        
        <div class="info">
            <p class="info-title">Designation</p>
            <p class="info-description">{{basic_detail.designation}}</p>

        </div>

        

        <div class="info">
            <p class="info-title">Shift Details</p>
            <p class="info-description">{{basic_detail.shift_details}} ({{basic_detail.shift_details.in_time}} to {{basic_detail.shift_details.out_time}}) </p>
        </div>


        <div class="info">
            <p class="info-title">Date of joining</p>
            <p class="info-description">{{basic_detail.date_of_joining}}</p>
        </div>

        <div class="info">
            <p class="info-title">salary</p>
            <p class="info-description">{{basic_detail.salary}}
            </p>
        </div>

        <div class="info">
            <p class="info-title">mobile no</p>
            <p class="info-description">{{additional_detail.mobile_no}}
            </p>
        </div>

        <div class="info">
            <p class="info-title">date of birth</p>
            <p class="info-description">{{additional_detail.date_of_birth}}
            </p>
        </div>


        <div class="info">
            <p class="info-title">pan number</p>
            <p class="info-description">{{additional_detail.pan_number}}
            </p>
        </div>

        <div class="info">
            <p class="info-title">aadhaar number</p>
            <p class="info-description">{{additional_detail.aadhaar_number}}
            </p>
        </div>

        <div class="info info-full">
            <p class="info-title">current address</p>
            <p class="info-description">{{additional_detail.current_address}}
            </p>
        </div>



        <h1 class="main-heading">Bank Details</h1>
        
        <div class="info">
            <p class="info-title">bank name</p>
            <p class="info-description">{{bank_detail.bank_name}}
            </p>
        </div>
        
        <div class="info">
            <p class="info-title">branch name</p>
            <p class="info-description">{{bank_detail.branch_name}}
            </p>
        </div>
        
        <div class="info">
            <p class="info-title">account type</p>
            <p class="info-description">{{bank_detail.account_type}}
            </p>
        </div>

        <div class="info">
            <p class="info-title">ifsc code</p>
            <p class="info-description">{{bank_detail.ifsc_code}}
            </p>
        </div>

        <div class="info ">
            <p class="info-title">account number</p>
            <p class="info-description">{{bank_detail.account_number}}
            </p>
        </div>

    </div>

    </div>
</section>


{% endblock %}




{% block js %}
<script>
    document.getElementById('self-detail').classList.add('link1');
</script>
{% endblock %}