{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/form.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Attendance History {% endblock %}</title>

{% block style %}

<style>
    .user-info {
        padding: 2rem;
        overflow: auto;
    }

    .user_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .basic_info {
        width: 100%;
    }

    .main-heading {
        margin: 0;
        padding: 2.5rem 1rem;
    }

    .user_info .info {
        max-width: 40%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
    }

    .user_info .info .info-description {
        margin-right: 1rem;

    }

    .user_info .info p {
        margin: 0;
    }

    .info-full {
        max-width: 100%;
        padding: 0 1rem;

    }

    .details {
        padding: 0;
        margin-top: 0;
    }

    .info_card {
        border: 1px solid #387EF9;
        padding: 1em;
        padding-bottom: 0;
        width: 100%;

    }

    .table thead tr {
        color: #387EF9;
        font-weight: 600;
        border: none;
    }
    .table thead tr th{
        border: none;
    }

    .table .next-btn2 {
        margin: 0;
        padding: 0.2em 1em;
        font-size: 1em;
        font-weight: 500;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }

    .table .next-btn2:hover {
        background: #fff;
        color: #387EF9;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }

    .table thead tr:hover {
        color: #fff;
        background-color: #387EF9;
        transition: 0.3s linear;
    }

    tr:hover{
        background-color: #387EF9;
        color: #fff;
        transition: 0.3s linear;
    }
</style>

{% endblock %}

{% block profile %}


<section class="user-info">
    <div class="basic_info">
        <p class="main-heading">Attendance History ( {{month}} )</p>

        <div class="user_info">
            <div class="info">
                <p class="info-title">Present Days</p>
                <p class="info-description" id="sl">
                    7
                </p>
            </div>

            <div class="info">
                <p class="info-title">Absent Days</p>
                <p class="info-description" id="lop">
                    0
                </p>
            </div>
        </div>




        <p class="main-heading">Attendance Details</p>
        <table class="table text-center">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Day</th>
                    <th scope="col">In Time</th>
                    <th scope="col">Out Time</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>


            <tbody>
                {% for data in monthly_data %}
                <tr>
                    <th>{{data.date}}</th>
                    <td>{{data.day}}</td>
                    <td>{{data.login_time}}</td>
                    <td>{{data.logout_time}}</td>
                    <td>{{data.status}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>



    </div>
</section>


{% endblock %}


{% block js %}
<script>
    document.getElementById('self-attendance-history').classList.add('link1');
</script>
{% endblock %}