{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/forms.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Self Attendance {% endblock %}</title>

{% block style %}

<style>
.user-info{
    padding: 2rem;
    overflow: auto;
}
.user_info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.basic_info {
    width: 100%;
}

.main-heading{
    margin: 0;
    padding: 2.5rem 1rem;
}
.user_info .info{
    max-width: 40%;
    display: flex;
    justify-content: space-between;
    padding:0;
    padding-bottom: 0.5em;
    border:none;
}
.user_info .info .info-title{
   color: #444;
}


.user_info .info .info-description{
    margin-right: 1rem;
    border: none;

}
.user_info .info p{
    margin: 0;
}

.info-full {
    max-width: 100%;
    padding: 0 1rem;

}

.card{
    border-radius:0px;
    padding:1rem 2rem;
    border: none;
    border-bottom: 1px solid #ccc;
    
}
.card p{
    margin:0;
    color: #444;
    font-weight: 500;
    font-size: 0.8rem;
    
}
.card-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-items h4{
    color: #444;
}




</style>

{% endblock %}

{% block profile %}


<section class="user-info">
    <div class="basic_info">

        <div class="head-card">
            <h4>Attendance Details</h4>
            <a href="{% url 'attendance_history' %}">History</a>
        </div>

        <div class="user_info my-lg-5">

            <div class="info">
                <p class="info-title">Number of working days</p>
                <p class="info-description" id="sl">
                    {{working_days}}
                </p>
            </div>

            <div class="info">
                <p class="info-title">Number of Holidays</p>
                <p class="info-description" id="lop">
                    {{holidays}}
                </p>
            </div>


            <div class="info">
                <p class="info-title">Present days</p>
                <p class="info-description" id="pl">
                    {{present_days}}
                </p>
            </div>

            <div class="info">
                <p class="info-title">Absent days</p>
                <p class="info-description" id="cl">
                    {{absent_days}}
                </p>
            </div>

        </div>

        {% if can_mark_attendance %}

        
        {% if is_requested %}
        

        <div class="card">
            <p class="day-and-date">Sunday , 15 Feb 2023</p>

            <div class="card-items">
            
            <h4 class="info-title">Mark My Todays Out time</h4>

            <form action="{% url 'self_attendance' %}" method="post">{% csrf_token %}
                <input type="hidden" value="{{request.user.id}}" name="user_id">
                <button type="submit" class="next_btn2">Mark</button>
            </form>
        </div>

        </div>

        {% else %}

        <div class="card">
            
            <p class="day-and-date">Sunday , 15 Feb 2023</p>
            <div class="card-items">
                
                
                <h4 class="info-title">Mark My Todays Attendance</h4>
                <form action="{% url 'self_attendance' %}" method="post">{% csrf_token %}
                    <input type="hidden" value="{{request.user.id}}" name="user_id">
                    <button type="submit" class="next_btn2">Mark</button>
    
                </form>
    
            </div>

            
            
            
            

        </div>

        {% endif %}

        {% endif %}



        
        <div class="head-card my-lg-5">
            <h4>Missing Attendance</h4>
            <a href="{% url 'missing_attendance_history' %}">History</a>
        </div>

        <form class="user_input_form"  action="{% url 'missing_attendance' %}" method="post">{% csrf_token %}

        
            <div class="input_box">
                <p class="input_title">Date</p>
                <input type="date" class="input_value" id="start_date" name="date" onchange="MissingAttendance()" required>
            </div>


            <div class="input_box">
                <p class="input_title" >Start day is</p>
                <select class="input_options" name="half_day" id="start_date_is_half" onchange="MissingAttendance()">
                    <option selected value="False">Full Day</option>
                    <option  value="True">Half day</option>
                </select>
            </div>


            <div class="input_box input_box_full" id="start_date_is_first_half">
                <p class="input_title">Half</p>
                <select class="input_options" name="first_half" id="start_day_half">
                    <option selected value="True">First Half</option>
                    <option  value="False">Second Half</option>
                </select>
            </div>
        

            <div class="input_box input_box_full">
                <p class="input_title">Reason</p>
                <input type="text" class="input_value" id="reason" name="reason" placeholder="Enter valid leave reason"
                    required >
            </div>
        
        
            <!-- disabled -->
            <div class="input_button_submit">
                <button type="submit" class="next_btn2">Submit</button>
            </div>
        
        </form>


    </div>
</section>


{% endblock %}


{% block js %}
<script>
    document.getElementById('self-attendance').classList.add('link1');


    window.onload= MissingAttendanceApply()

    function MissingAttendanceApply()
    {
        var start_date_is_half = document.getElementById("start_date_is_half").value;start_day_half
        var start_date_is_first_half = document.getElementById("start_date_is_first_half");
        
        if (start_date_is_half == "True"){
            start_date_is_first_half.style.display= 'block';
        }else{
            start_date_is_first_half.style.display= 'none';
        }
        }

</script>
{% endblock %}