{% extends 'basic_form.html' %}
{% load static %}

{% block style %}
<style>
    
</style>
{% endblock %}


{% block userForm %}



<form class="details" action="{% url 'additional_details' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

    <div class="heading">
        <h3 class="user-profile-update-title">Additional details</h3>
    </div>

    <div class="info">
        <p class="info-title">Profile Photo</p>
        <input type="file" id="profile_photo" class="my_file" name="img" accept="static/profile_pic">
    </div>

    <div class="info">
        <p class="info-title">gender</p>
        <select class="options" name="gender" required>
            <option selected value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>

    <div class="info">
        <p class="info-title" id="payment_label">mobile number</p>
        <input type="tel" pattern="[0-9]{10}" onkeypress='return ((event.keyCode >= 48 && event.keyCode <= 57 )|| event.key === " ")' class="form-control" id="mobile_no" name="mobile_no" placeholder="Enter mobile number"
            required onchange="validate('mobile_number',this.value,'mobile_number1','submit-btn1')">

        <small class="error" id="mobile_number1">Mobile number must be 10 digits</small>
    </div>


    <div class="info">
        <p class="info-title">Date of birth</p>
        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"
            placeholder="Enter date of joining" required>
    </div>

    <div class="info">
        <p class="info-title">Pan number</p>
        <input type="text" maxlength="10" class="form-control" id="pan_number" name="pan_number" placeholder="Enter pan number"
            required onchange="validate('pan_number',this.value,'pan_card1','submit-btn1')" onkeypress='return ((event.keyCode >= 65 && event.keyCode <= 90)|| (event.keyCode >= 48 && event.keyCode <= 57 ) || event.keyCode == 8)'>

        <small class="error" id="pan_card1">Invalid pan card number</small>  
    </div>

    <div class="info">
        <p class="info-title">Aadhaar number</p>
        <input type="number" maxlength="12" minlength="12" onkeypress='return ((event.keyCode >= 48 && event.keyCode <= 57 )|| event.key === " ")' class="form-control" id="aadhaar_number" name="aadhaar_number"
            placeholder="Enter aadhaar number" required onchange="validate('aadhaar_number',this.value,'aadhaar_card1','submit-btn1')">

        <small class="error" id="aadhaar_card1">Invalid aadhaar number</small>  
    </div>




    <div class="info">
        <p class="info-title">Marital Status</p>
        <select class="options" name="marital_status" required>
            <option selected value="Single">Single</option>
            <option value="Married">Married</option>
        </select>
    </div>

    <div class="info">
        <p class="info-title">passport number</p>
        <input type="text" class="form-control" id="passport_no" name="passport_no" placeholder="Enter passport number">
    </div>

    <div class="info">
        <p class="info-title">father name</p>
        <input type="text" minlength="2" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) && (event.charCode != 32))' class="form-control" id="father_name" name="father_name" placeholder="Enter father name"
            required>
    </div>

    <div class="info">
        <p class="info-title">mother name</p>
        <input type="text" minlength="2" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) && (event.charCode != 32))' class="form-control" id="mother_name" name="mother_name" placeholder="Enter mother name"
            required>
    </div>

    <div class="info">
        <p class="info-title">nationality</p>
        <input type="text" class="form-control" id="nationality" name="nationality" placeholder="Enter nationality" value="Indian"
            required onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) && (event.charCode != 32))' >
    </div>


    <div class="info">
        <p class="info-title">emergency contact number</p>
        <input type="number" onkeypress='return ((event.keyCode >= 48 && event.keyCode <= 57 )|| event.key === " ")' class="form-control" id="emergency_contact_no" name="emergency_contact_no"
            placeholder="Enter emergency contact number" required onchange="validate('mobile_number',this.value,'mobile_number2','submit-btn1')">
            <small class="error" id="mobile_number2">Mobile number must be 10 digits</small>
    </div>

    <div class="info info-full">
        <p class="info-title">blood group</p>
        <select class="options" name="blood_group" required>
            <option value="A-">A-</option>
            <option value="A+">A+</option>
            <option value="B-">B-</option>
            <option value="B+">B+</option>
            <option value="O-">O-</option>
            <option value="O+">O+</option>
            <option value="AB+">AB+</option>>
            <option value="AB-">AB-</option>
        </select>
    </div>

    <div class="info info-full">
        <p class="info-title">permanent address</p>
        <input type="text" class="form-control" id="permanent_address" name="permanent_address"
            placeholder="Enter permanent address" required>
    </div>


    <div class="permissions info-full">
        <div class="check-box-info">
            <div class="check-box">
                <input type="checkbox" minlength="10" class="check-box-square" id="is_address_same" name="is_address_same"
                    value="True" onchange="sameAddress()">
                <label class="check-box-label" for="is_address_same">Permanent and current address same</label>
            </div>

        </div>
    </div>


    <div class="info info-full" id="current_address_div">
        <p class="info-title">current address</p>
        <input type="text" minlength="10" class="form-control" id="current_address" name="current_address"
            placeholder="Enter current address">
    </div>



    <!-- disabled -->
    <div class="btns">
        <button type="submit" id="submit-btn1" class="next-btn2">Submit</button>

    </div>

</form>


{% endblock %}

