{% extends 'basic_form.html' %}
{% load static %}

{% block style %}
<style>
    
</style>
{% endblock %}


{% block userForm %}


<form class="details" action="{% url 'bank_details' %}" method="post">{% csrf_token %}

    <div class="heading">
        <h3 class="user-profile-update-title">Bank details</h3>
    </div>

    <div class="info">
        <p class="info-title">bank name</p>
        <input type="text" class="form-control" id="bank_name" name="bank_name" placeholder="Enter bank name"
            required>
    </div>

    <div class="info">
        <p class="info-title">branch name</p>
        <input type="text" class="form-control" id="branch_name" name="branch_name" placeholder="Enter branch name"
            required>
    </div>

    <div class="info">
        <p class="info-title">account type</p>
        <select class="options" name="account_type" required>
            <option selected value="Saving">Saving</option>
            <option  value="Current">Current</option>
            
        </select>
    </div>

    <div class="info info-full">
        <p class="info-title">ifsc code</p>
        <input type="text" class="form-control" id="ifsc_code" name="ifsc_code" placeholder="Enter ifsc code"
            required>
    </div>


    <div class="info info-full">
        <p class="info-title">account number</p>
        <input type="number" class="form-control" id="account_number" name="account_number" placeholder="Enter account number"
            required>
    </div>

    




    <!-- disabled -->
    <div class="btns">
        <button type="submit" class="next-btn2">Submit</button>

    </div>

</form>


{% endblock %}

