{% extends 'basic_form.html' %}
{% load static %}

{% block style %}
<style>
.page-sub-title{
    width: 100%;
    padding-left: 1rem ;
    font-weight: 500;
    margin: 2rem 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.details .hide_display{
    display: none !important;;
}
</style>
{% endblock %}


{% block userForm %}


<form class="details" action="{% url 'educational_details' %}" method="post">{% csrf_token %}

    <div class="heading">
        <h3 class="user-profile-update-title">Educational Details</h3>
    </div>

    <p class="page-sub-title">Secondary School Certificate</p>


    <div class="info info-full">
        <p class="info-title">10th board name</p>
        <input type="text" class="form-control" id="ssc_board_name" name="ssc_board_name"
            placeholder="Enter 10th board name" required>
    </div>

    <div class="info">
        <p class="info-title">10th school name</p>
        <input type="text" class="form-control" id="ssc_school_name" name="ssc_school_name"
            placeholder="Enter 10th school name" required>
    </div>

    <div class="info">
        <p class="info-title">10th percentage</p>
        <input type="number" class="form-control" id="ssc_percentage" name="ssc_percentage"
            placeholder="Enter 10th percentage" required>
    </div>

    <div class="info">
        <p class="info-title">10th passing year</p>
        <input type="number" class="form-control" id="ssc_passing_yr" name="ssc_passing_yr"
            placeholder="Enter 10th passing year" required>
    </div>

    <div class="info info-full">
        <p class="info-title">10th Marksheet</p>
        <input type="file" class="form-control" id="ssc_doc_file" name="ssc_doc_file" required>
    </div>



    <div class="check-box permissions check-box-info" id="is_hsc_complete">
        <input type="checkbox" class="check-box-square" id="emp_hsc_check" name="emp_hsc_check" value="True" onchange="manageEducationalDetails()">
        <label class="check-box-label" for="emp_hsc_check">Have you completed HSC</label>
    </div>  



    


    <p class="page-sub-title hsc_detail">Higher Secondary School Certificate</p>

    <div class="info info-full hsc_detail">
        <p class="info-title">12th board name</p>
        <input type="text" class="form-control hsc_input" id="hsc_board_name" name="hsc_board_name"
            placeholder="Enter 12th board name" >
    </div>

    <div class="info info-full hsc_detail">
        <p class="info-title">12th school name</p>
        <input type="text" class="form-control hsc_input" id="hsc_school_name" name="hsc_school_name"
            placeholder="Enter 12th school name" >
    </div>

    <div class="info hsc_detail">
        <p class="info-title">12th percentage</p>
        <input type="text" class="form-control hsc_input" id="hsc_percentage" name="hsc_percentage"
            placeholder="Enter 12th percentage" >
    </div>

    <div class="info hsc_detail">
        <p class="info-title">12th passing year</p>
        <input type="year" class="form-control hsc_input" id="hsc_passing_yr" name="hsc_passing_yr"
            placeholder="Enter 12th passing year" >
    </div>


    <div class="info hsc_detail">
        <p class="info-title">12th Stream</p>
        <select class="options hsc_input" name="hsc_stream" >
            <option selected value="Science">Science</option>
            <option  value="Commerce">Commerce</option>
            <option value="Arts">Arts</option>

        </select>
    </div>


    <div class="info info-full hsc_detail">
        <p class="info-title">12th Marksheet</p>
        <input type="file" class="form-control hsc_input" id="hsc_doc_file" name="hsc_doc_file" >
    </div>


    <div class="check-box permissions check-box-info" id="is_diploma_complete">
        <input type="checkbox" class="check-box-square" id="emp_diploma_check" name="emp_diploma_check" value="True" onchange="manageEducationalDetails()">
        <label class="check-box-label" for="emp_diploma_check">Have you completed diploma</label>
    </div>   







    
    <p class="page-sub-title diploma_detail">diploma Details</p>


    <div class="info info-full diploma_detail">
        <p class="info-title">diploma university</p>
        <input type="text" class="form-control diploma_input" id="diploma_university" name="diploma_university"
            placeholder="Enter diploma university" >
    </div>

    <div class="info info-full diploma_detail">
        <p class="info-title">diploma college name</p>
        <input type="text" class="form-control diploma_input" id="hsc_school_name" name="diploma_college"
            placeholder="Enter diploma college name" >
    </div>

    <div class="info info-full diploma_detail">
        <p class="info-title">diploma branch</p>
        <input type="text" class="form-control diploma_input" id="diploma_branch" name="diploma_branch"
            placeholder="Enter brandiploma_detailch" >
    </div>

    <div class="info diploma_detail">
        <p class="info-title">Diploma Admission Year</p>
        <input type="year" class="form-control diploma_input" id="diploma_admission_yr" name="diploma_admission_yr"
            placeholder="Enter admission year" >
    </div>

    <div class="info diploma_detail">
        <p class="info-title">Diploma Passout Year</p>
        <input type="year" class="form-control diploma_input" id="diploma_passout_yr" name="diploma_passout_yr"
            placeholder="Enter passout year" >
    </div>


    <div class="info diploma_detail">
        <p class="info-title">diploma percentage</p>
        <input type="year" class="form-control diploma_input" id="diploma_percentage" name="diploma_percentage"
            placeholder="Enter percentage" >
    </div>



    <div class="info info-full diploma_detail">
        <p class="info-title">diploma Marksheet</p>
        <input type="file" class="form-control diploma_input" id="diploma_doc_file" name="diploma_doc_file" >
    </div>


    <div class="check-box permissions check-box-info" id="is_graduation_complete">
        <input type="checkbox" class="check-box-square" id="emp_graduation_check" name="emp_graduation_check" value="True" onchange="manageEducationalDetails()">
        <label class="check-box-label" for="emp_graduation_check">Have you completed graduation</label>
    </div>  













    <p class="page-sub-title graduation_detail">graduation Details</p>
    

    <div class="info info-full graduation_detail">
        <p class="info-title">graduation university</p>
        <input type="text" class="form-control graduation_input" id="diploma_university" name="graduation_university"
            placeholder="Enter graduation university" >
    </div>

    <div class="info info-full graduation_detail">
        <p class="info-title">graduation college name</p>
        <input type="text" class="form-control graduation_input" id="graduation_college" name="graduation_college"
            placeholder="Enter graduation college name" >
    </div>

    <div class="info info-full graduation_detail">
        <p class="info-title">graduation branch</p>
        <input type="text" class="form-control graduation_input" id="graduation_branch" name="graduation_branch"
            placeholder="Enter graduation branch" >
    </div>

    <div class="info graduation_detail">
        <p class="info-title">graduation Admission Year</p>
        <input type="year" class="form-control graduation_input" id="graduation_admission_yr" name="graduation_admission_yr"
            placeholder="Enter admission year" >
    </div>

    <div class="info graduation_detail">
        <p class="info-title">graduation Passout Year</p>
        <input type="year" class="form-control graduation_input" id="graduation_passout_yr" name="graduation_passout_yr"
            placeholder="Enter passout year" >
    </div>


    <div class="info graduation_detail">
        <p class="info-title">graduation percentage</p>
        <input type="year" class="form-control graduation_input" id="graduation_percentage" name="graduation_percentage"
            placeholder="Enter percentage" >
    </div>


    <div class="info info-full graduation_detail">
        <p class="info-title">graduation Marksheet</p>
        <input type="file" class="form-control graduation_input" id="graduation_doc_file" name="graduation_doc_file" >
    </div>

    <div class="check-box permissions check-box-info" id="is_post_graduation_complete">
        <input type="checkbox" class="check-box-square" id="emp_pg_check" name="emp_pg_check" value="True" onchange="manageEducationalDetails()">
        <label class="check-box-label" for="emp_pg_check">Have you completed Post-Graduation</label>
    </div> 

















    <p class="page-sub-title post_graduation_detail">Post graduation Details</p>

    <div class="info info-full post_graduation_detail">
        <p class="info-title">Post graduation university</p>
        <input type="text" class="form-control post_graduation_input" id="pg_university" name="pg_university"
            placeholder="Enter post graduation university" >
    </div>

    <div class="info info-full post_graduation_detail">
        <p class="info-title">post graduation college name</p>
        <input type="text" class="form-control post_graduation_input" id="pg_college" name="pg_college"
            placeholder="Enter post graduation college name" >
    </div>

    <div class="info info-full post_graduation_detail">
        <p class="info-title">post graduation branch</p>
        <input type="text" class="form-control post_graduation_input" id="pg_branch" name="pg_branch"
            placeholder="Enter post graduation branch" >
    </div>

    <div class="info post_graduation_detail">
        <p class="info-title">post graduation Admission Year</p>
        <input type="year" class="form-control post_graduation_input" id="pg_admission_yr" name="pg_admission_yr"
            placeholder="Enter admission year" >
    </div>

    <div class="info post_graduation_detail">
        <p class="info-title">post graduation Passout Year</p>
        <input type="year" class="form-control post_graduation_input" id="pg_passout_yr" name="pg_passout_yr"
            placeholder="Enter passout year" >
    </div>


    <div class="info post_graduation_detail">
        <p class="info-title">post graduation percentage</p>
        <input type="year" class="form-control post_graduation_input" id="pg_percentage" name="pg_percentage"
            placeholder="Enter percentage" >
    </div>

    <div class="info info-full post_graduation_detail">
        <p class="info-title">post graduation Marksheet</p>
        <input type="file" class="form-control post_graduation_input" id="pg_doc_file" name="pg_doc_file">
    </div>




    <!-- disabled -->
    <div class="btns">
        <button type="submit" class="next-btn2">Submit</button>

    </div>

</form>


{% endblock %}


{% block js %}
<script>
    console.log("hello")

    window.onload= manageEducationalDetails();

    function manageEducationalDetails() {
        var emp_hsc_check = document.getElementById("emp_hsc_check").checked;
        var emp_diploma_check = document.getElementById("emp_diploma_check").checked;
        var emp_graduation_check = document.getElementById("emp_graduation_check").checked;
        var emp_pg_check = document.getElementById("emp_pg_check").checked;




        if (emp_graduation_check == false) {
            document.getElementById("is_post_graduation_complete").classList.add('hide_display');

        }else{
            document.getElementById("is_post_graduation_complete").classList.remove('hide_display');
        }

        
        var hsc_detail = document.querySelectorAll('.hsc_detail');
        var hsc_input = document.querySelectorAll('.hsc_input');

        if (emp_hsc_check) {

            for (var i = 0; i < hsc_detail.length; i++) {
                hsc_detail[i].classList.remove('hide_display');
            }

            for (var i = 0; i < hsc_input.length; i++) {
                hsc_input[i].required = true;
            }

        }else{
            for (var i = 0; i < hsc_detail.length; i++) {
                hsc_detail[i].classList.add('hide_display');
            }
            for (var i = 0; i < hsc_input.length; i++) {
                hsc_input[i].required = false;
            }
        }





        var diploma_detail = document.querySelectorAll('.diploma_detail');
        var diploma_input = document.querySelectorAll('.diploma_input');

        if (emp_diploma_check) {
            
            for (var i = 0; i < diploma_detail.length; i++) {
                diploma_detail[i].classList.remove('hide_display');
            }

            for (var i = 0; i < diploma_input.length; i++) {
                hsc_input[i].required = true;
            }

        }else{
            for (var i = 0; i < diploma_detail.length; i++) {
                diploma_detail[i].classList.add('hide_display');

            }

            for (var i = 0; i < diploma_input.length; i++) {
                diploma_input[i].required = false;
            }
        }


        var graduation_detail = document.querySelectorAll('.graduation_detail');
        var graduation_input = document.querySelectorAll('.graduation_input');

        if (emp_graduation_check) {
            
            for (var i = 0; i < graduation_detail.length; i++) {
                graduation_detail[i].classList.remove('hide_display');

            }
            for (var i = 0; i < graduation_input.length; i++) {
                graduation_input[i].required = true;
            }

        }else{
            for (var i = 0; i < graduation_detail.length; i++) {
                graduation_detail[i].classList.add('hide_display');

            }
            for (var i = 0; i < graduation_input.length; i++) {
                graduation_input[i].required = false;
            }
        }




        var post_graduation_detail = document.querySelectorAll('.post_graduation_detail');
        var post_graduation_input = document.querySelectorAll('.post_graduation_input');

        if (emp_pg_check) {
            
            for (var i = 0; i < post_graduation_detail.length; i++) {
                post_graduation_detail[i].classList.remove('hide_display');

            }
            for (var i = 0; i < post_graduation_input.length; i++) {
                post_graduation_input[i].required = true;
            }

        }else{
            for (var i = 0; i < post_graduation_detail.length; i++) {
                post_graduation_detail[i].classList.add('hide_display');

            }
            for (var i = 0; i < post_graduation_input.length; i++) {
                post_graduation_input[i].required = false;
            }
        }
        
    }
</script>
{% endblock %}