{% extends 'basic.html' %}
{% load static %}

{% block css %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    #Navbar {
        display: none;
    }


    .profile-navigations .profile-navigation-links .link1 {
        color: #fff;
        background-color: #387EF9;
        transition: all 0.5s ease-out;
        border: 1px solid #fff;
    }

    .profile-navigations .profile-navigation-links .link1 svg {
        fill: #fff;
        transition: all 0.5s ease-out;
    }



    .profile-container {
        width: 100%;
        display: flex;
    }

    .profile-links-container {
        max-width: 18rem;
        width: 100%;
        position: fixed;
        overflow: auto;
        height: 100vh;
        overflow: auto;
        padding: 1rem;
        background-color: #fff;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
            rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }


    .user-profile {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding-bottom: 1em;
        border-bottom: 1px solid rgb(152, 152, 152);
    }

    .user-profile h4 {
        color: #444;
        font-size: 1rem;
        font-weight: 600;
    }

    .user-profile p {
        max-width: 100%;
        overflow: hidden;
        margin-top: 0.2em;
    }

    .user-profile-pic {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em;
        border: 1px solid #387EF9;
        position: relative;
        transform: rotate(60deg);
    }

    .user-profile-pic::before {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        border: 0.3rem solid #fff;
        background: #387EF9;
        transform: translate(-50%, -50%);
    }

    .user-profile-pic::after {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        border: 0.3rem solid #fff;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        background: #387EF9;
        transform: translate(-50%, 50%);
    }

    .user-profile-pic img {
        width: 9.1rem;
        height: 9.1rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        transform: rotate(-60deg);
        z-index: 2;
    }

    .profile-navigations {
        margin: 1.5rem 0;
    }

    .profile-navigation-links li {
        list-style: none;
        border-collapse: collapse;
        padding: 0.7em;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .profile-navigation-links li svg {
        fill: #387EF9;
        height: 1rem;
    }


    .profile-navigation-links a {
        text-decoration: none;
        color: #387EF9;
        font-weight: 600;
    }

    .active {
        color: #fff;
        background-color: #387EF9;
    }

    .active a {
        color: #fff;
        text-align: center;
    }

    .profile-navigation-links li:hover {
        color: #fff;
        background-color: #387EF9;
        transition: all 0.5s ease-out;
    }

    .profile-navigation-links li:hover svg {
        fill: #fff;
        transition: all 0.5s ease-out;
    }


    .profile-details-container {
        width: 100%;
        margin-left: 18rem;
        min-height: 80vh;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    .back-to-profile {
        padding: 1em 1em 0 1em;
        display: none;
    }

    .back-to-profile button {
        outline: none;
        border: none;
        background-color: transparent;
    }

    .back-to-profile .material-icons {
        color: #444;
        font-size: 1.5rem;
        font-weight: 700;
    }

    @media (max-width:700px) {
        .profile-container {
            margin-top: 0;
        }

        .profile-container .profile-links-container {
            max-width: 100%;
            position: absolute;
            z-index: 2;
            height: 100%;
            overflow-y: scroll;
        }

        .profile-details-container {
            box-shadow: none;
            max-height: 100vh;
            overflow-y: auto;
        }

        .profile-details-container {
            width: 100%;
            margin: 0;
        }

        .back-to-profile {
            display: block;
        }
    }

    .user_info ::-webkit-scrollbar {
        width: 1rem;
    }

    .user_info ::-webkit-scrollbar-track {
        width: 1rem;
        box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.2);
    }

    .user_info ::-webkit-scrollbar-thumb {
        outline: 1px solid #387EF9;
        background-color: #387EF9;
    }


    .profile-links-container::-webkit-scrollbar {
        width: 1em;
    }

</style>


{% block style %}

{% endblock %}


{% endblock %}






{%block body%}

<app-navbar></app-navbar>
<section class="profile-container">

    <section class="profile-links-container">

        <div class="user-profile">

            <div class="user-profile-pic">
                <img src="{{request.user.user_additional_details.profile_photo.url}}" alt="">
            </div>

            <h4>{{request.user.get_full_name}}</h4>

            <p>{{request.user.username}}</p>
        </div>

        <div class="profile-navigations">
            <ul class="profile-navigation-links">

                <a href="{% url 'self_details' %}">
                    <li class="profile-navigation-link" id="self-detail">Details
                        <span class="material-symbols-outlined">
                            keyboard_double_arrow_right
                        </span>
                    </li>
                </a>

                <a href="{% url 'self_attendance' %}">
                    <li class="profile-navigation-link" id="self-attendance">Attendance
                        <span class="material-symbols-outlined">
                            keyboard_double_arrow_right
                        </span>
                    </li>
                </a>

                <a href="{% url 'attendance_history' %}">
                    <li class="profile-navigation-link" id="self-attendance-history">Attendance History
                        <span class="material-symbols-outlined">
                            keyboard_double_arrow_right
                        </span>
                    </li>
                </a>

                <a href="{% url 'self_leave' %}">
                    <li class="profile-navigation-link" id="self-leave">Leaves
                        <span class="material-symbols-outlined">
                            keyboard_double_arrow_right
                        </span>
                    </li>
                </a>

                <a href="{% url 'leave_history' %}">
                    <li class="profile-navigation-link" id="leave-history">Leave History
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">

                            <span class="material-symbols-outlined">
                                keyboard_double_arrow_right
                            </span>
                    </li>
                </a>

                <a href="{% url 'self_salary' %}">
                    <li class="profile-navigation-link" id="self-salary">Salary

                        <span class="material-symbols-outlined">
                            keyboard_double_arrow_right
                        </span>

                    </li>
                </a>

                <a href="{% url 'self_salary' %}">
                    <li class="profile-navigation-link" id="dashboard">Dashboard
                        <span class="material-symbols-outlined">
                            keyboard_double_arrow_right
                        </span>

                    </li>
                </a>

                <a href="{% url 'self_salary' %}">
                    <li class="profile-navigation-link" id="Policy">Policy

                        <span class="material-symbols-outlined">`
                            keyboard_double_arrow_right
                        </span>

                    </li>
                </a>

                <a href="{% url 'logout' %}">
                    <li class="profile-navigation-link" id="Logout">Logout

                        <span class="material-symbols-outlined">
                            keyboard_double_arrow_right
                        </span>

                    </li>
                </a>


            </ul>
        </div>

    </section>



    <section class="profile-details-container">
        


        {% block profile %}

        {% endblock %}

    </section>


</section>


{%endblock%}