{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/form.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Approve Attendance {% endblock %}</title>

{% block style %}

<style>
    .user-info {
        padding: 2rem;
        overflow: auto;
    }

    .user_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .basic_info {
        width: 100%;
    }

    .main-heading {
        margin: 0;
        padding: 2.5rem 1rem;
    }

    .user_info .info {
        max-width: 40%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
    }

    .user_info .info .info-description {
        margin-right: 1rem;

    }

    .user_info .info p {
        margin: 0;
    }

    .info-full {
        max-width: 100%;
        padding: 0 1rem;

    }

    .details {
        padding: 0;
        margin-top: 0;
    }

    .info_card {
        border: 1px solid #387EF9;
        padding: 1em;
        padding-bottom: 0;
        width: 100%;

    }

    .table thead tr th {
        color: #387EF9;
        font-weight: 600;
        border: none;
    }

    .table .next-btn2 {
        margin: 0;
        padding: 0.2em 1em;
        font-size: 1em;
        font-weight: 500;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }

    .table .next-btn2:hover {
        background: #fff;
        color: #387EF9;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }
</style>

{% endblock %}

{% block profile %}


<section class="user-info">
    <div class="basic_info">
        <p class="main-heading">Attendance Applications Info</p>

        <div class="user_info">
            <div class="info">
                <p class="info-title">Total Applications</p>
                <p class="info-description" id="sl">
                    {{ employees_count }}
                </p>
            </div>

            <div class="info">
                <p class="info-title">Pending Applications</p>
                <p class="info-description" id="lop">
                    1
                </p>
            </div>
        </div>

        


        <!-- <p class="main-heading text-center my-lg-5" style="color:red">Leave Applications are not available</p>-->


        <p class="main-heading">Pending Applications</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Day Type</th>
                    <th scope="col">In Time</th>
                    <th scope="col">Approve</th>
                </tr>
            </thead>


            <tbody>
                {% for emp in employees %}
                <tr>
                    
                    <td>{{emp.emp_user.username}}</td>
                    <td>{{emp.emp_user.get_full_name}}</td>
                    {% if emp.is_half_day %}
                    <td >Half({% if emp.is_first_half %}first {% endif %} {% if emp.is_second_half %} Second {% endif %})</td>
                    {% else %}
                    <td >Full</td>
                    {% endif %}


                    <td>{{emp.login_time}}</td>
                    <td>
                        <form action="{% url 'attendance_applications' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="application_id" value="{{emp.id}}" >
                            <button type="submit" class="next-btn2">Approve</button>
                        </form>

                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>



    </div>
</section>


{% endblock %}


{% block js %}
<script>
    document.getElementById('attendance-requests').classList.add('link1');
</script>
{% endblock %}