{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/forms.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Attendance History {% endblock %}</title>

{% block style %}

<style>
    .user-info {
        padding: 2rem;
        overflow: auto;
    }

    .user_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .basic_info {
        width: 100%;
    }

    .main-heading {
        margin: 0;
        padding: 2.5rem 1rem;
    }

    .user_info .info {
        max-width: 40%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
    }

    .user_info .info .info-description {
        margin-right: 1rem;

    }

    .user_info .info p {
        margin: 0;
    }

    .info-full {
        max-width: 100%;
        padding: 0 1rem;

    }

    .details {
        padding: 0;
        margin-top: 0;
    }

    .info_card {
        border: 1px solid #387EF9;
        padding: 1em;
        padding-bottom: 0;
        width: 100%;

    }

    .table thead tr {
        color: #387EF9;
        font-weight: 600;
        border: none;
    }

    .table thead tr th {
        border: none;
    }

    .table .next-btn2 {
        margin: 0;
        padding: 0.2em 1em;
        font-size: 1em;
        font-weight: 500;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }

    .table .next-btn2:hover {
        background: #fff;
        color: #387EF9;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }

    .table thead tr:hover {
        color: #fff;
        background-color: #387EF9;
        transition: 0.3s linear;

    }
</style>

{% endblock %}

{% block profile %}


<section class="user-info">
    <div class="basic_info">

        
        <div class="head-card">
            <h4>Salary Details</h4>
            <a href="{% url 'admin_dashboard' %}">
                Back
                <span class="material-symbols-outlined mx-2">
                    undo
                </span>
            </a>
        </div>



        <table class="table my-lg-5">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Day Type</th>
                    <th scope="col">In Time</th>
                    <th scope="col">Approve</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in employees %}
                <tr>
                    <td>{{emp.emp_user.username}}</td>
                    <td>{{emp.emp_user.get_full_name}}</td>

                    {% if emp.is_half_day %}

                    <td>Half({% if emp.is_first_half %}first {% endif %} {% if emp.is_second_half %} Second {% endif %})</td>

                    {% else %}

                    <td>Full</td>
                    
                    {% endif %}

                    <td>{{emp.login_time}}</td>

                    <td>
                        <form action="{% url 'attendance_applications' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="application_id" value="{{emp.id}}">
                            <button type="submit" class="btn btn-outline-primary  btn-sm">Approve</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}











            </tbody>
        </table>


    </div>
</section>


{% endblock %}


{% block js %}
<script>
    document.getElementById('dashboard').classList.add('link1');
</script>
{% endblock %}