{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/form.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Self Details {% endblock %}</title>

{% block style %}

<style>
    .profile-navigations .profile-navigation-links .link1 {
        color: #fff;
        background-color: #387EF9;
        transition: all 0.5s ease-out;
    }

    .profile-navigations .profile-navigation-links .link1 svg {
        fill: #fff;
        transition: all 0.5s ease-out;
    }
    .details{
        height: 87vh;
        margin-top: 0;
        padding-top: 2rem;
    } 

    .details .permissions {
        width: 100%;
        padding: 1.5rem;
    }

    .details .permissions p {
        color: #387EF9;
        font-weight: 500;
        margin-bottom: 1em;
        text-transform: uppercase;
    }

    .details .permissions .check-box-info {
        border-bottom: 1px solid #ddd;
        padding-bottom: 1rem;
    }

    .details .permissions .check-box {
        max-width: 22rem;
        overflow: hidden;
    }

    .check-box-square {
        width: 1.3rem;
        height: 1.3rem;
        transform: translateY(25%);
        margin-right: 1rem;
    }

    .check-box-label:hover {
        cursor: pointer;
    }

    .info-full {
        max-width: 100%;
        padding: 0 1rem;

    }
</style>

{% endblock %}

{% block profile %}


<section class="user-info">
    <form class="details" action="{% url 'signup' %}" method="post">{% csrf_token %}

        <div class="heading">
            <h3 class="user-profile-update-title">Create Employee Account ( Sign Up)</h3>
        </div>
    
        <div class="info">
            <p class="info-title">First Name</p>
            <input type="text" minlength="2" onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) && (event.charCode != 32))' class="form-control" id="first_name" name="first_name" placeholder="Enter first name"
                required>
            <!-- <small class="error" *ngIf="Profile.value['address_line1']==0">Address Line1 is required</small> -->
        </div>
    
        <div class="info">
            <p class="info-title">last name</p>
            <input type="text" minlength="2" class="form-control" id="last_name" name="last_name" placeholder="Enter last name" required onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) && (event.charCode != 32))'>
            <!-- <small class="error" *ngIf="Profile.value['address_line2']==0">Address Line2 is required</small> -->
        </div>
    
    
        <div class="info">
            <p class="info-title">department</p>
            <select class="options" name="department" required>
                {% for department in departments %}
                <option value="{{department.id}}">{{department.department_name}}</option>
                {% endfor %}
            </select>
            <!-- <small class="error" *ngIf="Profile.value['state']=='S'">State is required</small> -->
        </div>
    
        <div class="info">
            <p class="info-title">designation</p>
            <select class="options" name="designation" required>
                {% for designation in designations %}
                <option value="{{designation.id}}">{{designation.designation_name}}</option>
                {% endfor %}
            </select>
            <!-- <small class="error" *ngIf="Profile.value['state']=='S'">State is required</small> -->
        </div>
    
    
        <div class="info">
            <p class="info-title">experience</p>
            <select class="options" name="experience_status" required>
                <option value="Fresher" selected>Fresher</option>
                <option value="Experienced">Experienced</option>
            </select>
            <!-- <small class="error" *ngIf="Profile.value['state']=='S'">State is required</small> -->
        </div>
    
        <div class="info">
            <p class="info-title">Shift</p>
            <select class="options" name="shift_details" required>
                {% for shift in shifts %}
                <option value="{{shift.id}}">{{shift.shift_name}}</option>
                {% endfor %}
            </select>
            <!-- <small class="error" *ngIf="Profile.value['state']=='S'">State is required</small> -->
        </div>
    
    
        <div class="info">
            <p class="info-title">Date of joining</p>
            <input type="date" class="form-control" id="date_of_joining" name="date_of_joining"
                placeholder="Enter date of joining" required>
            <!-- <small class="error" *ngIf="Profile.value['address_line2']==0">Address Line2 is required</small> -->
        </div>
    
    
    
        <div class="info">
            <p class="info-title">Payment Type</p>
            <select class="options" name="is_salaried" id="is_salaried" required onchange="paymentType()">
                <option value="True" selected>Salary</option>
                <option value="False">Stipend</option>
            </select>
            <!-- <small class="error" *ngIf="Profile.value['state']=='S'">State is required</small> -->
        </div>
    
        <div class="info info-full">
            <p class="info-title" id="payment_label">Salary (Rs)</p>
            <input type="number" required min="0" onkeypress='return ((event.keyCode >= 48 && event.keyCode <= 57 )|| event.key === " ")' max="999999999"  class="form-control" id="salary" name="salary" placeholder="Enter salary amount" >
            <!-- <small class="error" *ngIf="Profile.value['address_line2']==0">Address Line2 is required</small> -->
        </div>
    
    
        <div class="permissions">
            <div class="check-box-info">
                <p class="info-title">Permissions</p>
    
                <input type="hidden" class="form-control" value="{{emp_no}}" name="emp_no" required>
    
                <div class="check-box">
                    <input type="checkbox" class="check-box-square" id="can_approve_attendance" name="can_approve_attendance" value="True">
                    <label class="check-box-label" for="can_approve_attendance">Can approve attendances</label>
                </div>
    
                <div class="check-box">
                    <input type="checkbox" class="check-box-square" id="can_approve_leaves" name="can_approve_leaves" value="True">
                    <label class="check-box-label" for="can_approve_leaves">Can approve leaves</label>
                </div>
    
                <div class="check-box">
                    <input type="checkbox" class="check-box-square" id="can_manage_employee" name="can_manage_employee" value="True">
                    <label class="check-box-label" for="can_manage_employee">Can manage employees</label>
                </div>
    
                <div class="check-box">
                    <input type="checkbox" class="check-box-square" id="can_manage_teams" name="can_manage_teams" value="True">
                    <label class="check-box-label" for="can_manage_teams">Can manage teams</label>
                </div>
    
                <div class="check-box">
                    <input type="checkbox" class="check-box-square" id="can_manage_holiday" name="can_manage_holiday" value="True">
                    <label class="check-box-label" for="can_manage_holiday">Can manage holidays</label>
                </div>
    
                <div class="check-box">
                    <input type="checkbox" class="check-box-square" id="can_manage_salary" name="can_manage_salary" value="True">
                    <label class="check-box-label" for="can_manage_salary">Can manage salarys</label>
                </div>
    
                <div class="check-box">
                    <input type="checkbox" class="check-box-square" id="can_verify_emp_details" name="can_verify_emp_details" value="True">
                    <label class="check-box-label" for="can_verify_emp_details">Can verify details</label>
                </div>
    
                <div class="check-box">
                    <input type="checkbox" class="check-box-square" id="can_manage_shifts" name="can_manage_shifts" value="True">
                    <label class="check-box-label" for="can_manage_shifts">Can manage office shifts</label>
                </div>
            
    
            </div>
    
    
    
        </div>
    
    
        <div class="info info-full">
            <p class="info-title">password</p>
            <input type="password" minlength="8" id="password" name="password" placeholder="Enter password" required>
            <!-- <small class="error" *ngIf="Profile.value['address_line2']==0">Address Line2 is required</small> -->
        </div>
    
    
    
    
    
    
        <!-- disabled -->
        <div class="btns">
            <button type="submit" class="next-btn2">Create Account</button>
    
        </div>
    
    </form>
</section>


{% endblock %}

{% block js %}
<script>
    document.getElementById('create-account').classList.add('link1');
    window.load= paymentType();

    function paymentType(){
        var is_salaried = document.getElementById('is_salaried').value;
        

        if (is_salaried == "True"){
            document.getElementById('payment_label').innerText= "Salary (Rs)";
        }else{
            document.getElementById('payment_label').innerText= "Stipend (Rs)";
        }

    }



</script>
{% endblock %}