{% extends 'hr_profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/forms.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Departments {% endblock %}</title>

{% block style %}

<style>
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .user-info {
        padding: 2rem;
        overflow: auto;
    }

    .user_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .basic_info {
        width: 100%;
    }

    .main-heading {
        margin: 0;
        padding: 2.5rem 1rem;
    }

    .user_info .info {
        max-width: 40%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
    }

    .user_info .info .info-description {
        margin-right: 1rem;

    }

    .user_info .info p {
        margin: 0;
    }

    .info-full {
        max-width: 100%;
        padding: 0 1rem;

    }

    .card {
        border: 1px solid #387EF9;
        border-radius: 0px;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .card p {
        margin: 0;
        color: #444;
        font-weight: 500;
        margin-left: 1rem;
    }



    .table thead tr th {
        font-weight: 600;
        border: none;
    }


    .table .next-btn2 {
        margin: 0;
        padding: 0.2em 1em;
        font-size: 1em;
        font-weight: 500;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }

    .table .next-btn2:hover {
        background: #fff;
        color: #387EF9;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }

    tbody .input_value {
        border: none;
        outline: none;
        border: 1px solid #ddd;
        padding: 0.3em 0.8em;
        color: #444;

    }

    .table tbody td {
        padding: 0.5em 0.3em;
        vertical-align: baseline;
        border: none;
    }

    .table tr {
        border-bottom: 1px solid #ddd;
    }



    .input_item {
        border: none;
        background: #fff;
    }

    .table tbody .display_hidden {
        display: none;
    }

    .form_action_btns {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .form_action_btns .icon_button {
        outline: none;
        border: none;
        border: 1px solid #ddd;
        background: #ddd;
        color: #444;
        border-radius: 50%;
    }

    .material-symbols-outlined {
        padding: 0.3em;
        cursor: pointer;
    }
</style>



{% endblock %}

{% block profile %}


<section class="user-info">
    <div class="basic_info">

        <div class="head-card">
            <h4>Department Details</h4>
            <a href="{% url 'ems_dashboard' %}">
                Back
                <span class="material-symbols-outlined mx-2">
                    undo
                </span>
            </a>
        </div>

        <form class="user_input_form my-lg-5" action="{% url 'department' %}" method="post">{% csrf_token %}


            <div class="input_box ">
                <p class="input_title">Department Name</p>
                <input type="hidden" name="dept_id">
                <input type="text" class="input_value" id="reason" name="dept_name" placeholder="Enter a department"
                    required>
            </div>

            <button type="submit" name="type" value="create" class="next_btn2">Submit</button>

        </form>


    </div>


    {% if departments %}

    <p class="main-heading">Department list</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">Department Name</th>
                <th scope="col" style="text-align: center;">Actions</th>
            </tr>
        </thead>


        <tbody>
            {% for dept in departments %}
            <tr>
                <form action="{% url 'department' %}" method="post">{% csrf_token %}

                    <td>{{forloop.counter}}</td>

                    <td id="dept_inputs{{dept.id}}">

                        <input type="hidden" name="dept_id" value="{{dept.id}}" disabled>
                        <input type="text" class="input_item" name="dept_name" value="{{dept.department_name}}" required
                            disabled>

                    </td>

                    <td class="form_action_btns">

                        <div class="buttons_div display_hidden" id="dept_update_buttons{{dept.id}}">
                            <button type="submit" class="icon_button" name="type" value="update"><span
                                    class="material-symbols-outlined" style="color:#387EF9">upgrade</span></button>
                            <button type="submit" class="icon_button" name="type" value="delete"><span
                                    class="material-symbols-outlined" style="color:red">delete</span></button>
                        </div>


                        <span class="material-symbols-outlined cancel_button display_hidden icon_button"
                            id="cancel_button{{dept.id}}" onclick="editDept('{{dept.id}}','cancel')">
                            close
                        </span>

                        <span class="material-symbols-outlined edit_button icon_button" id="edit_button{{dept.id}}"
                            onclick="editDept('{{dept.id}}','update')">

                            drive_file_rename_outline

                        </span>
                    </td>

                </form>

            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% endif %}

</section>


{% endblock %}


{% block js %}
<script>

    document.getElementById('dashboard').classList.add('link1');

    function editDept(id, action) {
        var edit_button = document.getElementById('edit_button' + id);
        var cancel_button = document.getElementById('cancel_button' + id);
        var dept_update_buttons = document.getElementById('dept_update_buttons' + id);
        var inputs = document.querySelector('#dept_inputs' + id).querySelectorAll('input')


        console.log(id)

        if (action == 'update') {


            edit_button.classList.add("display_hidden")
            cancel_button.classList.remove("display_hidden")
            dept_update_buttons.classList.remove("display_hidden")

            for (var i = 0; i < inputs.length; i++) {
                inputs[i].disabled = false;
                inputs[i].classList.add("input_value")
                inputs[i].classList.remove("input_item")
            }

        } else {

            edit_button.classList.remove("display_hidden")
            cancel_button.classList.add("display_hidden")
            dept_update_buttons.classList.add("display_hidden")

            for (var i = 0; i < inputs.length; i++) {
                inputs[i].disabled = true;
                inputs[i].classList.add("input_item")
                inputs[i].classList.remove("input_value")
            }
        }


    }
</script>
{% endblock %}