{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/form.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Approve Attendance {% endblock %}</title>

{% block style %}

<style>
    .user-info {

        overflow: hidden;
        height: 100vh;
        overflow: auto;
        position: relative;
    }

    .basic_info {
        padding: 2rem;
    }

    .user_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;


    }

    .basic_info {
        width: 100%;
    }

    .main-heading {
        margin: 0;
        padding: 2.5rem 1rem;
    }

    .user_info .info {
        max-width: 40%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
    }

    .user_info .info .info-description {
        margin-right: 1rem;

    }

    .user_info .info p {
        margin: 0;
    }

    .info-full {
        max-width: 100%;
        padding: 0 1rem;

    }

    .details {
        padding: 0;
        margin-top: 0;
    }

    .info_card {
        border: 1px solid #387EF9;
        padding: 1em;
        padding-bottom: 0;
        width: 100%;

    }


    .full_page_form {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
    }

    .form_info {
        width: 50rem;
        height: 30rem;
        background: #fff;
        padding: 1rem 2rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .full_page_form .head-card {
        width: 100%;
        box-shadow: none;
        border:none;
    }

    
</style>

{% endblock %}

{% block profile %}


<section class="user-info">
    <div class="basic_info">

        <div class="head-card">
            <h4>Missing Attendance Applications </h4>
            <a href="{% url 'admin_dashboard' %}">
                Back
                <span class="material-symbols-outlined mx-2">
                    undo
                </span>
            </a>
        </div>

        <div class="user_info my-lg-5">
            <div class="info">
                <p class="info-title">Total Applications</p>
                <p class="info-description" id="sl">
                    5
                </p>
            </div>

            <div class="info">
                <p class="info-title">Pending Applications</p>
                <p class="info-description" id="lop">
                    1
                </p>
            </div>
        </div>




        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                {% for app in applications %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th>{{app.emp_user.username}}</th>
                    <td>{{app.emp_user.get_full_name}}</td>

                    <td>{{app.date}}</td>

                    <td>
                        <button type="button" class="btn btn-outline-primary  btn-sm">View</button>

                    </td>
                </tr>
                {% endfor %}
            </tbody>



        </table>

    </div>

    <div class="full_page_form">
        <div class="form_info">
            <div class="details">

                <div class="head-card">
                    <h4>Missing Attendance</h4>
                    <span class="material-symbols-outlined close-btn">
                        close
                    </span>
                </div>

                <div class="info">
                    <p class="info-title">Application Date</p>
                    <p class="info-description">22 Jan 2023</p>
                </div>

                <div class="info">
                    <p class="info-title">User Id</p>
                    <p class="info-description">EP00001</p>

                </div>


                <div class="info">
                    <p class="info-title">User Name</p>
                    <p class="info-description">rio mario
                    </p>
                </div>

                <div class="info">
                    <p class="info-title">Date</p>
                    <p class="info-description">22 jan 2023
                    </p>
                </div>

                <div class="info">
                    <p class="info-title">Type</p>
                    <p class="info-description">Full Day
                    </p>
                </div>


                <div class="info">
                    <p class="info-title">Reason</p>
                    <p class="info-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, corporis?
                    </p>
                </div>



            </div>
        </div>
    </div>

</section>


{% endblock %}


{% block js %}
<script>
    document.getElementById('dashboard').classList.add('link1');
</script>
{% endblock %}