{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{%static 'css/self-details.css'%}" rel="stylesheet">
<link href="{%static 'css/forms.css'%}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Attendance History {% endblock %}</title>

{% block style %}

<style>
    .user-info {
        padding: 2rem;
        overflow: auto;
    }

    .user_info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .basic_info {
        width: 100%;
    }

    .main-heading {
        margin: 0;
        padding: 2.5rem 1rem;
    }

    .user-details {
        display: flex;
        padding: 0 1em;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .user-details .info {
        min-width: 45%;
        width: 100%;
        margin-bottom: 0.3em;
    }

    .user-details .info_full {
        min-width: 100%;
        width: 100%;
        margin-bottom: 0.3em;
    }

    .details {
        padding: 0;
        margin-top: 0;
    }

    .info_card {
        border: 1px solid #387EF9;
        padding: 1em;
        padding-bottom: 0;
        width: 100%;

    }

    .modal {
        --bs-modal-width: 40rem;
    }

    .modal-content {
        border-radius: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .modal-header {
        display: block;
    }

    .modal-header .head-card {
        border: none;
        box-shadow: none;
        padding: 1rem;
    }






    .emp_profile_list {
        background-color: #fff;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        padding: 10px;
        margin-bottom: 0.5em;

    }

    .emp_profile_list img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-position: center;
        object-fit: cover;
        margin-right: 10px;
    }


    .emp_profile_list h2 {
        color: #334454;
        font-size: 1rem;
        margin-bottom: 0.4em;
    }

    .emp_profile_list p {
        color: #a1b2bc;
        font-size: 0.7rem;
        margin: 0;
    }
</style>

{% endblock %}

{% block profile %}


<section class="user-info">
    <div class="basic_info">

        <div class="head-card">
            <h4>Missing Attendance Requests <h4>
            <a href="{% url 'team_leader_dashboard' %}">
                Back
                <span class="material-symbols-outlined mx-2">
                    undo
                </span>
            </a>
        </div>



        <table class="table my-lg-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                {% for app in applications %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{app.emp_user.username}}</td>
                    <td>{{app.emp_user.get_full_name}}</td>
                    <td>{{app.created_at.date}}</td>
                    <td>
                        {% if app.is_approved == True %}
                        <span class="material-symbols-outlined mx-2"
                            style="font-size:1.8rem;font-weight:700;color:rgb(12, 186, 12);">
                            task_alt
                        </span>


                        {% else %}
                        <span class="material-symbols-outlined" style="font-size:1.8rem;font-weight:700;color:#FFB302">
                            hourglass_top
                        </span>
                        {% endif %}

                    </td>

                    <td>


                        <a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#TeamMember{{app.emp_user.id}}">
                            View
                        </a>

                    </td>


                </tr>



                <!-- Modal -->
                <div class="modal fade" id="TeamMember{{app.emp_user.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog  modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">

                                <div class="head-card">
                                    <h4>{{app.emp_user.get_full_name}} ( {{app.emp_user.username}} )</h4>
                                </div>
                            </div>
                            <div class="modal-body">


                                <div class="user-details">

                                    <div class="info">
                                        <p class="info-title">Application Date</p>
                                        <p class="info-description">{{app.created_at.date}}</p>
                                    </div>

                                    <div class="info">
                                        <p class="info-title">Date</p>
                                        <p class="info-description">{{app.created_at.date}}</p>
                                    </div>


                                    <div class="info info_full">
                                        <p class="info-title">Type</p>
                                        <p class="info-description">
                                            {% if app.is_half_day %}

                                            {% if app.is_first_half %}
                                            Half Day( First )
                                            {% endif %}

                                            {% if app.is_second_half %}
                                            Half Day( Second )
                                            {% endif %}

                                            {% else %}
                                            Full Day
                                            {% endif %}
                                        </p>
                                    </div>

                                    <div class="info info_full">
                                        <p class="info-title">Reason</p>
                                        <p class="info-description">{{app.description}}</p>
                                    </div>

                                </div>





                            </div>
                            <div class="modal-footer">
                                <button type="button" class="next_btn1" data-bs-dismiss="modal">Close</button>
                                <form action="{% url 'missing_attendance_applications' %}" method="post">{% csrf_token %}
                                    <input type="hidden" name="app_id" value="{{app.id}}">
                                    <button type="submit" class="next_btn2" data-bs-dismiss="modal">Approve</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>




                {% endfor %}

            </tbody>
        </table>




    </div>

</section>


{% endblock %}


{% block js %}
<script>
    document.getElementById('dashboard').classList.add('link1');
</script>
{% endblock %}