{% extends 'profile_basic.html' %}
{% load static %}

{% block tag %}
<link href="{% static 'css/self-details.css' %}" rel="stylesheet">
<link href="{% static 'css/form.css' %}" rel="stylesheet">
{% endblock %}

<title>{% block title %} HRMS : Salary Filter {% endblock %}</title>


{% block style %}

<style>
    .profile-navigations .profile-navigation-links .link1 {
        color: #fff;
        background-color: #387EF9;
        transition: all 0.5s ease-out;
    }

    .profile-navigations .profile-navigation-links .link1 svg {
        fill: #fff;
        transition: all 0.5s ease-out;
    }
    .table .next-btn2 {
        margin: 0;
        padding: 0.2em 1em;
        font-size: 1em;
        font-weight: 500;
        border: 2px solid #387EF9;
        transition: 0.2s linear;
    }
    
</style>


{% endblock %}

{% block profile %}

   <section class="user-info">
      <form class="details" action="{% url 'filter_salary' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
  
          <div class="heading">
              <h3 class="user-profile-update-title">Filter Salary Data</h3>
          </div>
      
          <div class="info">
              <p class="info-title">Employee First/Last Name</p>
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter first name" value = {{name}}>
              <!-- <small class="error" *ngIf="Profile.value['address_line1']==0">Address Line1 is required</small> -->
          </div>
      
          <div class="info">
              <p class="info-title">Username</p>
              <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" value = {{username}}>
              <!-- <small class="error" *ngIf="Profile.value['address_line2']==0">Address Line2 is required</small> -->
          </div>

          <div class="info">
            <label for="month" class="info-title">Month</label>
            <select class="options" id="month" name="month">
            <option selected disabled> Choose...</option>
              {% for month in months %}
              <option value="{{month.month_name}}">{{month.month_name|slice:":-4:"}} {{month.month_name|slice:"-4::"}}</option>
              {% endfor %}
          </select>
          </div>

          <div class="btns">
            <button type="submit" class="next-btn2">Filter Data</button>
          </div>
      </form>

    </section>

{% endblock %}

{% block js %}
<script>
    document.getElementById('filter-salary').classList.add('link1');
</script>
{% endblock %}

